export LEETCODE_SESSION="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJfYXV0aF91c2VyX2lkIjoiMjQ2NjUyOCIsIl9hdXRoX3VzZXJfYmFja2VuZCI6ImFsbGF1dGguYWNjb3VudC5hdXRoX2JhY2tlbmRzLkF1dGhlbnRpY2F0aW9uQmFja2VuZCIsIl9hdXRoX3VzZXJfaGFzaCI6IjJlYjBlYWU4Y2Q2NTg0Mjg2YjkwODRhNDQxNWJiOTRiOWZlMWJkMDBkMzhkZmY5OWE2NGNhMjk4NjYwNGI0NWUiLCJzZXNzaW9uX3V1aWQiOiJmOTlhNWU2MyIsImlkIjoyNDY2NTI4LCJlbWFpbCI6InN1cGVybWFyaW9icm9zMzc0QGdtYWlsLmNvbSIsInVzZXJuYW1lIjoic3VwZXJtYXJpb2Jyb3MzNzQiLCJ1c2VyX3NsdWciOiJzdXBlcm1hcmlvYnJvczM3NCIsImF2YXRhciI6Imh0dHBzOi8vYXNzZXRzLmxlZXRjb2RlLmNvbS91c2Vycy9zdXBlcm1hcmlvYnJvczM3NC9hdmF0YXJfMTU3NTYyODQwNi5wbmciLCJyZWZyZXNoZWRfYXQiOjE3MzQ5NjgxNjAsImlwIjoiOTYuMzkuNS4yNTQiLCJpZGVudGl0eSI6IjY3NjM5NDNiMWE0MWE1ZTZlZDQ3MmQ3NDYwNWY0YTVkIiwiZGV2aWNlX3dpdGhfaXAiOlsiMzViY2NjODdiNWRiMWM4NjlhMDAwNTQ2OTgwOGQwMzEiLCI5Ni4zOS41LjI1NCJdfQ.OTZrHmR3kRf6rOjixPUTWTWkcKJ2XkV7Hji6iIc3xhk"
export LEETCODE_CSRFTOKEN="k79AevQoLfgVVLHhiaSRoyOXInHzo31B5jQgPbXNw6Qvk7o6hnOgTS6rhRIQvHxI"
